html {
  overflow-x: hidden;
}

#showcase {
  background-image: url("/public/assets/showcase-bg.svg");
  background-position: right top 3rem;
  background-repeat: no-repeat;
}

.inside-circle {
  animation-name: grow-shrink;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}
.service {
  transition: 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

.service:hover {
  transform: skew(5deg);
  transition: 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

#toast-success {
  visibility: hidden;
}

.perform-slide {
  animation-name: slide-left;
  animation-duration: 1.1s;
}

@keyframes grow-shrink {
  from {
    scale: 0.6;
  }
  to {
    scale: 1;
  }
}

@keyframes progress {
  from {
    width: 0rem;
  }
  to {
    width: 10rem;
  }
}

@keyframes reduce {
  from {
    width: 12rem;
  }
  to {
    width: 2rem;
  }
}

@keyframes slide-left {
  from {
    right: -20rem;
  }
  to {
    right: 0;
  }
}

@media (max-width: 768px) {
  #showcase {
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}
