html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.active-nav {
  background-color: #fff;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border-radius: 1.5rem;
  color: #555;
}

#showcase {
  background-image: url("/public/assets/showcase-bg.svg");
  background-position: right top 3rem;
  background-repeat: no-repeat;
}

.inside-circle {
  animation-name: grow-shrink;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}
.service {
  transition: 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

.service:hover {
  transform: skew(2deg);
  transition: 0.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

#toast-success {
  visibility: hidden;
}

.progress-bar {
  width: 0%;
  transition: 2s width ease-in-out;
}

.perform-slide {
  animation-name: slide-left;
  animation-duration: 1.1s;
}

#hero-gif {
  animation-name: move-forward;
  animation-duration: 25s;
  animation-fill-mode: forwards;
  transition: 3s all ease-in-out;
  transition: 2s opacity ease-in-out;
}

.neon-effect {
  animation-name: neon;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-delay: 10s;
  /* animation-iteration-count: infinite; */
}

.hero-sub:nth-of-type(1),
.hero-sub:nth-of-type(2),
.hero-sub:nth-of-type(3),
.hero-sub:nth-of-type(4),
.hero-sub:nth-of-type(5),
.hero-sub:nth-of-type(6),
.hero-sub:nth-of-type(7) {
  animation-name: neon-sub;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  /* animation-iteration-count: infinite; */
}

.hero-sub:nth-of-type(1) {
  animation-delay: 7s;
}
.hero-sub:nth-of-type(2) {
  animation-delay: 7.2s;
}
.hero-sub:nth-of-type(3) {
  animation-delay: 7.4s;
}
.hero-sub:nth-of-type(4) {
  animation-delay: 7.6s;
}
.hero-sub:nth-of-type(5) {
  animation-delay: 7.8s;
}
.hero-sub:nth-of-type(6) {
  animation-delay: 8s;
}
.hero-sub:nth-of-type(7) {
  animation-delay: 8.2s;
}

@keyframes neon {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 60px #b656ba,
      0 0 70px #b656ba;
  }
  to {
    text-shadow: initial;
  }
}

@keyframes neon-sub {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 60px #b656ba,
      0 0 70px #b656ba;
  }
  to {
    text-shadow: initial;
  }
}

@keyframes grow-shrink {
  from {
    scale: 0.6;
  }
  to {
    scale: 1;
  }
}

@keyframes progress {
  from {
    width: 0rem;
  }
  to {
    width: 10rem;
  }
}

@keyframes reduce {
  from {
    width: 12rem;
  }
  to {
    width: 2rem;
  }
}

@keyframes slide-left {
  from {
    right: -20rem;
  }
  to {
    right: 0;
  }
}

@keyframes move-forward {
  100% {
    transform: translateX(calc(100vw - 100%));
  }
}

@keyframes move-downwards {
  0% {
    top: 8.5rem;
  }
  100% {
    top: 17.5rem;
  }
}

@media (max-width: 768px) {
  #showcase {
    background-position: right bottom;
    background-repeat: no-repeat;
  }
}
